<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:action="@{/students}" th:object="${student}" method="post">
    <div style="width: 240px; ">
        <input type="hidden" name="id" th:field="*{id}">
        <div style="flex-direction: column; display: flex; margin-bottom: 1rem" >
            <field th:for="firstName">first name</field>
            <input type="text" id="firstName" name="firstName" th:field="*{firstName}">
        </div>
        <div style="flex-direction: column; display: flex; margin-bottom: 1rem">
            <field th:for="firstName">last name</field>
            <input type="text" id="lastName" name="lastName" th:field="*{lastName}">
        </div>
        <div style="flex-direction: column; display: flex; margin-bottom: 1rem">
            <field th:for="firstName">email</field>
            <input type="text" id="email" name="email" th:field="*{email}">
        </div>
        <div style="flex-direction: column; display: flex; margin-bottom: 1rem">
            <field th:for="firstName">age</field>
            <input type="number" id="age" name="age" th:field="*{age}">
            <span th:if="${#fields.hasErrors('age')}" th:errors="*{age}">age must be between 18 and 99</span>
        </div>
    </div>

    <button th:text="${student.firstName != null ? 'Update' : 'Add'}"></button>

</form>
</body>
</html>